# Java compiled files
*.class
*.jar
*.war
*.log

# Build directories
target/
build/
tests/results/

# IDE specific files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS specific files
.DS_Store
Thumbs.db

# Temporary / swap files
*.tmp
*.swp
