# Java compiled files
*.class
*.jar
*.war
*.log

# Build directories
target/
build/
out/

# IDE specific files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS specific files
.DS_Store
Thumbs.db

# Output folder
out/
